<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
</head>
<body>

   
    
   <div class="container">
        
    <div class="box">
                  <a href="https://i.pinimg.com/736x/ea/f0/a8/eaf0a8b0fd8560c19431b2ea7a72ebcd.jpg" >
                  <img src="https://i.pinimg.com/736x/ea/f0/a8/eaf0a8b0fd8560c19431b2ea7a72ebcd.jpg" alt="image"></a>
              <div class="caption">Lorem ipsum </div>
    </div> 
        
   <div class="box">
                  <a href="https://i.pinimg.com/564x/2a/9f/c2/2a9fc2451dbc6a878b6f645e6daa0763.jpg" >
                  <img src="https://i.pinimg.com/564x/2a/9f/c2/2a9fc2451dbc6a878b6f645e6daa0763.jpg" alt="image"></a>
              <div class="caption">Lorem ipsum </div>
    </div> 
        
   <div class="box">
                  <a href="https://orionstardesign.com/wp-content/uploads/2023/08/002.jpg" >
                  <img src="https://orionstardesign.com/wp-content/uploads/2023/08/002.jpg" alt="image"></a>
              <div class="caption">Lorem ipsum </div>
    </div> 
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="app.js"></script>
</body>
</html>